@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --kemenkum-blue: #2D338F;
  --kemenkum-yellow: #FBCD0B;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
